<h3 class="title">{{ 'app.models.<%= modelNamePlural %>.new' | t }}</h3>

{% include '<%= options.outputThemeFolder %>/<%= options.outputTheme %>/<%= modelNamePlural %>/form', <%= modelName %>: <%= modelName %> %}
